.sidebar {
  width: 250px;
  padding: 15px;
  background: #f5f5f5;
  border-radius: 10px;
  height: fit-content;
}

.sidebar h3 {
  margin-bottom: 10px;
}

.sidebar label {
  display: block;
  margin-top: 10px;
  font-size: 14px;
}

.sidebar select {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  border-radius: 4px;
}
.sidebar button {
  margin-top: 15px;
  width: 100%;
  background-color: #4f46e5;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}